@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #F4EAE9;
    /* --body-color: #f5f5f5; */
    --body-color: #FFF6F6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

body{
    overflow-x: hidden;
    background: var(--body-color);
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.grid{
    display: grid;
}

a{
    text-decoration: none;
    color: #333333;
}

.section{
    margin-top: 4rem;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.nav__list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    
}

.nav__item{
    margin-right: 2rem;
}

.nav__link{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
}

.active-link{
    border-bottom: 4px solid #e44d8d;
}

.nav__logo img{
    padding-top: 1rem;
   width: 120px;
}

.generic .nav__link{
    color: #222;
}

.home{
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.bg-bar-1{
    height: 900px;
    width: 120%;
    background-color: #fd788d;
    transform: rotate(-20deg);
    z-index: -1;
    position: absolute;
    left: -15%;
    top:-15%;
    box-shadow: 12px 12px 12px 6px rgba(0, 0, 0, .2);
}

.bg-bar-2{
    height: 900px;
    width: 130%;
    background-color: #feb1b7;
    transform: rotate(20deg);
    z-index: -2;
    position: absolute;
    top: -10%;
    left: -10%;
}

.home__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    padding-top: 9rem;
}

.home__data h4{
    text-transform: uppercase;
    letter-spacing: 15px;
    text-align: center;
    color: #feb1b7;
    font-size: 1rem;
    line-height: 0.5rem;
}

.home__data h1{
    text-align: center;
    font-size: 8rem;
    color: #fff;
}


.home__data p{
    max-width: 600px; 
    text-align: center;
    margin: 0 auto;
    color: #fff;
    opacity: 0.8;
    
}



.hero__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    width: 90%;
    padding: 50px;
    border-radius: 30px;
    min-height: 500px;
    background-color: #feb1b7;
    position: relative;
    overflow: hidden;
}

.hero__img img{
    width: 100%;
    height: 100%;
    max-width: 400px;
    object-position: center;
    object-fit: contain;
    position: absolute;
    bottom: -110px;
    right: -20px;
}

.hero__data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero__data span{
    color: #ec26b1;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-weight: 500;
}

.hero__data h1{
    font-size: 2.4rem;
    color: #f5f5f5;
    font-weight: 800;
}

.hero__data h1 font{
    background-color: #fed2d1;
    padding: 0 5px;
}

.hero__data p{
    color: #f5f5f5;
    margin: 10px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.hero__data a{
    font-weight: 800;
    color: #333333;
    border-bottom: 1px solid #646464;
    margin-top: 30px;
    text-decoration: none;
}



.exp__container{
    width: 100%;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: space-between;

}

.section__title{
    text-align: left;
    font-size: 3rem;
    color: #222;
    line-height: 3rem;
}

.section__title span{
    color: #fd788d;
    padding: 0 5px; 

}

.section__desc{
    text-align: left;
    max-width: 600px;
    opacity: 0.7;
}

.exp__cards{
    margin-top: 3.5rem;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1rem;
}

.exp__card__item{
    background-color: #dffbe2;
    padding: 2rem 2.5rem;
    border-radius: 1rem;
    position: relative;
}

.exp__card__item h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.exp__card__item p{
    font-size: 0.85rem;
    margin-bottom: 1rem;
    opacity: 0.8;
}

.btn-spcl{
    text-decoration: none;
    background-color: #f5f5f5;
    padding: 0.75rem 1.25rem;
    border-radius: 2rem;
    font-size: 0.75rem;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}


.btn-spcl span{
    width:15px;
    height: 15px;
    background-color: #e44d8d;
    padding: 0.5rem;
    border-radius: 50%;
}
.exp__card__item > *{
    max-width: 60%;
}

.exp__card__item img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
}

.section__header{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.section__header a{
    max-width: 150px;
}

.exp__img{
    position: relative;
}

.img__circle{
    height: 550px;
    width: 550px;
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    background-color: #fd788d;
    position: absolute;
    z-index: -1;
}

.img__box{
    background: url('../img/about-img.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 550px;
    width: 550px;
    box-shadow: 0 20px 5px 5px rgba(0,0,0,0.2);
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}

@keyframes animate{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.brand__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 80px;
    gap: 15px;
}

.brand__container img{
    height: 80px;
    object-position: center;
    object-fit: contain;
    
}

#mentors{
    min-height: 100vh;
    width: 100%;
    margin-top: 8rem;
}

.mentor__container{
    display: flex;
    width: 100%;
    height: 75vh;
}

.img__divider{
    position: relative;
    width: 1px;
    height: 75vh;
    background: rgba(0,0,0,0.25);
}

.mentor__item{
    position: relative;
    width: 25vw;
    height: 75vh;
    overflow: hidden;
}

.mentor-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background: #feb1b7;
    transition: 1s cubic-bezier(0.075,0.82,0.165,1);
}

.mentor__item-wrapper:hover .mentor-overlay{
    top: 0%;
}

.mentor__item img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.5);
    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.mentor__item-wrapper:hover img{
    transform: scale(1);
}

.mentor__item-sub{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8em 2em;
    align-items: center;
    visibility: hidden;
    z-index: 2;
    /* transition: 0.1s cubic-bezier(0.075, 0.82, 0.165, 1); */
}

.mentor__name{
    font-size: 40px;
}

.mentor__desc{
    font-size: 18px;
}

.mentor__item-wrapper:hover .mentor__item-sub{
    color: #fff;
    visibility: visible;
}

#mentors .section__data{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 1rem;
    margin-bottom: 3rem;
}

#mentors .section__title{

    text-align: center;
}

#mentors .section__desc{

    text-align: center;
}

.contact__form{
    margin-top: 2rem;
    width: 80%;
}

.contact__item{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .contact__item i{
    color: #fff;
    font-size: 1.5rem;
  }
  
  .contact__fields{
    display: grid;
    row-gap: 2rem;
    margin-bottom: var(--mb-2-5);
  }
  
  .contact__form .contact__content{
    position: relative;
    height: 3rem;
    border-bottom: 1px solid #fff;
  }
  
  .contact__form .contact__item{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 1rem 0;
    background: none ;
    outline: none;
    border: none;
    color: #fff;
    z-index: 1;
  }
  
  .contact__label{
    position: absolute;
    top: .75rem;
    width: 100%;
    font-size: var(--small-font-size);
    color: #fff;
    transition: .3s;
  }
  
  .contact__area{
    height: 7rem;
  }
  
  .contact__area textarea{
    resize: none;
    overflow: hidden;
  }
  
  .contact__form .contact__item:focus + .contact__label{
    top: -.75rem;
    left: 0;
    font-size: var(--smaller-font-size);
    z-index: 10;
  }
  
  .contact__form .contact__item:not(:placeholder-shown).contact__item:not(:focus) + .contact__label{
    top: -.75rem;
    font-size: var(--smaller-font-size);
    z-index: 10;
  }
  
  .contact__form .btn{
    margin-top: 2rem;
  }
  


footer{
    width: 100%;
    border-top: 1px solid #e9e9e9;
    margin-top: 4rem;
}

.footer__container{
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-brand{
    max-width: 330px;
}

.footer-brand .footer-logo{
    font-size: 1.8rem;
    color: #333333;
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: none;
}

.footer-brand p{
    color: #585858;
    font-size: 0.9rem;
    line-height: 1.4rem;
    margin: 5px 0;
}

.footer-social{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer-social a{
    margin-top: 10px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e9e9e9;
    color: #333333;
    font-size: 0.9rem;
    text-decoration: none;
}

.footer-links strong{
    font-size: 1.2rem;
    color: #333333;
    font-weight: 600;
    
}

.footer-links ul{
    list-style-type: none;
}

.footer-links ul li a{
    color: #797979;
    display: flex;
    margin-bottom: 5px;
    text-decoration: none;
    font-weight: 500;
    transition: all ease 0.3s;
}

.footer-links ul li a:hover{
    color: #0f0f0f;
}

.copy{
    text-align: center;
    background-color: #fd788d;
    padding: 1rem;
    color: #fff;
    font-size: 0.9rem;
}


/* About Page */
.generic__header .about__img{
    width: 60%;
    height: 100vh;
    background-color: #fd788d;
    border-right: 40px solid #feb1b7;
}